[user]
    name = Dann
    email = techmemo@gmail.com

[alias]
    ci = commit -a
    co = checkout
    cop = "!f() { git checkout $(git branch | peco); };`f`"
    st = status
    praise = blame 
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    amend = commit --amend
    url = config --get remote.origin.url
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    ranking = shortlog -s -n --no-merges
    d1 = diff HEAD^
    d2 = diff HEAD^^
    d3 = diff HEAD^^^
    d4 = diff HEAD^^^^
    d5 = diff HEAD^^^^^
    d10 = diff HEAD^^^^^^^^^^
    tree = log --graph --pretty=oneline --abbrev-commit --decorate
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"

[color]
    diff   = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow 
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
	editor = /usr/bin/vim
