[user]
    name = Dann
    email = techmemo@gmail.com

[alias]
    ci = commit -a
    co = checkout
    st = status -a
    praise = blame 
    up = pull --rebase
    url = config --get remote.origin.url
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    ranking = shortlog -s -n --no-merges
    d1 = diff HEAD^
    d2 = diff HEAD^^
    d3 = diff HEAD^^^
    d4 = diff HEAD^^^^
    d5 = diff HEAD^^^^^
    d10 = diff HEAD^^^^^^^^^^

[color]
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow 
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
