snippet hide
    page.hide <+"<+id(s)+>"+>

snippet ins
    page.insert_html :<+top+>, <+"<+id+>"+>, :<+partial => "<+template+>"+>

snippet rep
    page.replace <+"<+id+>"+>, :<+partial => "<+template+>"+>

snippet reph
    page.replace_html <+"<+id+>"+>, :<+partial => "<+template+>"+>

snippet show
    page.show <+"<+id(s)+>"+>

snippet tog
    page.toggle <+"<+id(s)+>"+>

snippet vis
    page.visual_effect :<+toggle_slide+>, <+"<+DOM ID+>"+>

