<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/site.css" media="screen,tv,projection" title="site"/>
    <script type="text/javascript" src="/js/swfobject.js"></script> -->
    <script type="text/javascript">
        swfobject.embedSWF("MyApp.swf", "flashcontent", "300", "120", "9.0.0");
    </script>
    <style type="text/css">
      body{
        background-color:#000000;
        color:#fff;
        font-size:80%;
        font-family:Arial-Black, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="flashcontent">
      <p>Alternative Content</p>
    </div>
  </body>
</html>
