@charset "utf-8";

html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #455E7F;
    margin: 0px;
    padding: 0px;
}

form, input {
    margin:0px;
    padding:0px;
}


/** -- container --*/
#container {
    padding: 0px;
    margin: 0px auto;
    width: 780px;
    text-align: left;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color:#FFFFFF; 
}

/** -- header --*/
#header {
    height: 62px;
    background-color: #000000;
    padding: 0px;
    position:relative;
}

#login {
    position:absolute;
    top:5px;
    right:5px;
    padding: 3px 0 3px;
    color: #CCCCCC;
}

ul#globalNavi {
	margin: 0;
	padding: 0;
	width: 780px;
	height: 13px;
	backgroud-color: #000000;
}

ul#globalNavi:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

ul#globalNavi li {
	margin: 0;
	padding: 0;
	float: left;
	width: 120px; 
	line-height: 1;
	list-style-type: none;
}

ul#globalNavi li a {
	padding: 0.6em 10px; 	
	display: block;
	position: relative;
	font-size: 12px;
	color: #CCCCCC;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
}

ul#globalNavi li a:hover {
	color: #000;
	background-color: #DDDDDD;
}


#title{
    padding: 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 110%;
    margin: 0px;
    padding: 7px 6px 0px;
    line-height:1;
}

#title a {
    text-decoration: none;
}


/** -- content --*/
#content {
    border-top: 1px solid #000;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:10px
    
}

#content_footer {
    text-align: center;
    margin: 8px 0px 0px 0px;
}

/** -- foter --*/
#footer{
    border-top: 1px #000 solid;
    background-color: #000000;
    color: #fff;
    margin: 0px;
    padding: 4px 0px;
    font-size: 0.8em;
    text-align:center;
    clear:both;
}
